<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    
    <form class="d-grid w-50 m-auto mt-4">
        <h3 class="text-primary">{{titulo}}</h3>
    <div class="mb-3">
        <label for="nombres" class="form-label">Nombres</label>
        <input type="text" class="form-control"  name="nombres" id="nombres" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="apellidos" class="form-label">Apellidos</label>
        <input type="text" class="form-control" name="apellidos" id="apellidos">
    </div>
     <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" name="email" id="email">
    </div>
     <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="password">
    </div>
     <div class="mb-3">
        <label for="telefono" class="form-label">Telefono</label>
        <input type="text" class="form-control" name="telefono" id="telefono">
    </div>
     <div class="mb-3">
        <label for="organizacion" class="form-label">Organizacion</label>
        <input type="password" class="form-control" name="organizacion" id="organizacion">
    </div>
     <div class="mb-3">
        <label for="profesion" class="form-label">Profesion</label>
        <input type="text" class="form-control" name="profesion" id="profesion">
    </div>
     <div class="mb-3">
        <label for="salario" class="form-label">Salario</label>
        <input type="text" class="form-control" name="salario" id="salario">
    </div>
     <div class="mb-3">
        <label for="fecha" class="form-label">Fecha</label>
        <input type="date" class="form-control" name="fecha" id="fecha">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>